tmp/analog
tmp/awstats
tmp/webalizer
tmp/webalizerftp
tmp/database/*
tmp/templates/*
vendor
database/openvk.db
SocialConfig.php
private/userblob_storage/*
public/etc
public/maintenance
public/error_log
public/cdn/images/*
public/cdn/videos/*
geoip/*
.DS_Store
.directory
