body {
    color: #fff;
    background-color: #3F4547;
    overflow-x: hidden!important;
}

header {
    background-color: #110809;
}

header .pure-menu-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pure-menu-link:focus, .pure-menu-link:hover {
    background-color: #E5D4CE;
}

.cont {
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
}
